In [85]:
# Basic SciPy packages
import numpy as np
import pandas as pd

# Stats Packages
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats

# Graphing packages
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
#%matplotlib inline
%matplotlib tk

#Load my random dataset
import CreateDataSet

In [5]:
#Generate Dataset

cvd_dataset = CreateDataSet.make_cvd_dataset()
cvd_dataset

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Power</th>
      <th>GrowthRate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8</td>
      <td>5000.047079</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>5001.067563</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>5001.204557</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8</td>
      <td>5003.810949</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>5058.775711</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>5053.389741</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>5064.731509</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>5051.515469</td>
    </tr>
    <tr>
      <th>8</th>
      <td>12</td>
      <td>5125.350505</td>
    </tr>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>5103.530057</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>5116.630153</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>5106.384634</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>5151.518901</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>5151.158232</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>5152.081822</td>
    </tr>
    <tr>
      <th>15</th>
      <td>14</td>
      <td>5150.221387</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
## Save dataset to csv to lock it in. 
#cvd_dataset.to_csv("CVD_Dataset_EDA_ANOVA.csv")
cvd_dataset = pd.read_csv("CVD_Dataset_EDA_ANOVA.csv")

In [8]:
sns.boxplot(x = "Power", y = "GrowthRate", data = cvd_dataset)

In [9]:
cvd_dataset_initial.boxplot('GrowthRate', by ='Power')

NameError: name 'cvd_dataset_initial' is not defined

In [10]:
## Create my own ANOVA
cvd_dataset_initial = cvd_dataset

In [11]:
runID = pd.Series(data=[1,2,3,4,1,2,3,4,1,2,3,4,1,2,3,4],name='RunID')
cvd_dataset['RunID'] = runID
cvd_dataset

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Power</th>
      <th>GrowthRate</th>
      <th>RunID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8</td>
      <td>5000.000098</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>5012.664928</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>5018.486875</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8</td>
      <td>5000.003111</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>5050.553024</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>5051.092497</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>5051.348757</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>5080.248275</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>12</td>
      <td>5106.268943</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>5101.476174</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>5106.513395</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>5107.977620</td>
      <td>4</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>5150.872442</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>5152.530164</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>5159.038556</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <td>14</td>
      <td>5150.521528</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
cvd_pivot = cvd_dataset.pivot(index = 'RunID', columns = 'Power', values = 'GrowthRate')
cvd_pivot

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Power</th>
      <th>8</th>
      <th>10</th>
      <th>12</th>
      <th>14</th>
    </tr>
    <tr>
      <th>RunID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5000.000098</td>
      <td>5050.553024</td>
      <td>5106.268943</td>
      <td>5150.872442</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5012.664928</td>
      <td>5051.092497</td>
      <td>5101.476174</td>
      <td>5152.530164</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5018.486875</td>
      <td>5051.348757</td>
      <td>5106.513395</td>
      <td>5159.038556</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5000.003111</td>
      <td>5080.248275</td>
      <td>5107.977620</td>
      <td>5150.521528</td>
    </tr>
  </tbody>
</table>
</div>

In [97]:
## Between samples is across the row
## Within samples is down the column


# Define number of replicates within treatment:
n = cvd_pivot.count(axis=1)
# Determine number of treatments:
a = cvd_pivot.count()


n = n.iloc[0]
a = a.iloc[0]

# Total number of datapoints
TotalN = n*a
TotalN


#dft is degrees of freedom between sample set
#dfe is degrees of freedom within samples
#dftotal is degrees of freedom total 

dft = a - 1
dfe = TotalN - a
dftotal = TotalN-1

In [98]:
#Compute sum under i-th treatment
yi_sum = cvd_pivot.sum()
yi_sum

Power
8     20031.155012
10    20233.242553
12    20422.236133
14    20612.962690
dtype: float64

In [72]:
#Compute average under i-th treatment 
yi_avg = cvd_pivot.mean()
yi_avg

Power
8     5007.788753
10    5058.310638
12    5105.559033
14    5153.240673
dtype: float64

In [73]:
#Compute grand sum
y_sum = yi_sum.sum()
y_sum

81299.59638766023

In [74]:
# Compute grand average
y_avg = yi_avg.mean()
y_avg

5081.2247742287645

In [76]:
# Varability between treatments
SSTR = (yi_avg - y_avg)**2
SSTR = SSTR.sum()*n
SSTR

46785.410453411532

In [87]:
# Varability within treatments

SSE = cvd_pivot.sub(yi_avg.values) ** 2
SSE = SSE.sum().sum()
SSE

972.5727188495458

In [88]:
## Total corrected sum of squares

SST = SSE - SSTR
SST

-45812.837734561988

In [89]:
## Mean Square Error

MSE = SSE/(dfe)
MSE

81.04772657079549

In [90]:
## Mean Square Treatments
MSTR = SSTR/(dft)
MSTR

15595.136817803845

In [91]:
#F ratio 
F = MSTR/MSE
F

192.41917667093887

In [92]:
p = stats.f.sf(F, dfe, dft)
p

0.00054615547385569035

In [93]:
eta_sqr = SSTR/SST
eta_sqr

-1.0212292616424374

In [83]:
ome_sqr = (SSTR - (a*MSE))/ (SST+ n)
ome_sqr

0.40227260831053696

In [94]:
print("Sum of Squares within = {} and Sum of Squares between = {}.".format(SSE, SSTR))

Sum of Squares within = 972.5727188495458 and Sum of Squares between = 46785.41045341153.

In [95]:
print("F ratio is {} and the p is {}." .format(F,p))

F ratio is 192.41917667093887 and the p is 0.0005461554738556904.

In [96]:
46774/(983.38/14)

665.9033130631088

In [42]:
f_val, p_val = stats.f_oneway(cvd_pivot[8], cvd_pivot[10], cvd_pivot[12], cvd_pivot[14])

In [44]:
print(f_val, p_val)

192.419176671 2.07342242061e-10